<h2>Registro de Transacciones</h2>
<h3>Ingresos</h3>
<div *ngFor="let income of incomes; let id = index">
  <app-list-element
    [id]="id"
    [title]="income.title"
    [type]="'income'"
    [description]="income.description"
    [amount]="income.amount"
    [date]="income.date"
    [category]="income.category">
  </app-list-element>
</div>

<h3>Gastos</h3>
<div *ngFor="let outcome of outcomes; let id = index">
  <app-list-element
    [id]="id"
    [title]="outcome.title"
    [type]="'outcome'"
    [description]="outcome.description"
    [amount]="outcome.amount"
    [date]="outcome.date"
    [category]="outcome.category">
  </app-list-element>
</div>